.root {
    -fx-background-color: #f8ecd9;
}

.topbar {
    -fx-padding: 10 20 10 20;
    -fx-max-height: 120;
    -fx-translate-x: 25;
}

.logoSmall {
    -fx-fit-width: 180;
    -fx-preserve-ratio: true;
}

.sidebar {
    -fx-background-color: #fff2e5;

    -fx-padding: 24;
    -fx-spacing: 20;

    -fx-min-width: 280;
    -fx-max-width: 280;

    /* Décalage */
    -fx-translate-x: 20;
    -fx-translate-y: -70;   /* ⬅️ ça évite qu’elle touche le bas */

    /* Coins arrondis partout */
    -fx-background-radius: 32;

    /* Ombre douce */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 16, 0, 0, 6);
}

.sidebarTitle {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-translate-x: 65;
    -fx-translate-y: 25;

}

.content {
    -fx-padding: 0 0 0 16;
    -fx-alignment: top-left;
}

.pageTitle {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-padding: 10 0 20 0;
    -fx-translate-y: -200;  /* monte le titre */
}


.grid {
    -fx-padding: 6 0 0 0;
}

.catBtn {
    -fx-background-color: #f5f5f5;
    -fx-text-fill: #333;

    -fx-font-size: 16px;
    -fx-font-weight: bold;

    -fx-padding: 14 20;
    -fx-min-width: 220;

    -fx-background-radius: 22;
    -fx-border-radius: 22;

    -fx-cursor: hand;
    -fx-translate-y: 50;
}

.catBtn:hover {
    -fx-background-color: #ececec;
}

.catBtn.active {
    -fx-background-color: #3bb54a;
    -fx-text-fill: white;
}


/* Catégorie sélectionnée (ex: Menus actif) */
.catBtn:selected,
.catBtn.active {
    -fx-background-color: #e46725;
    -fx-text-fill: white;
}

.catBtn:pressed {
    -fx-background-color: #ddd;
}


