
/* ---------- SIDEBAR ---------- */


.centerZone {
    -fx-alignment: center;     /* centre le contenu */
    -fx-padding: 20;           /* respiration */
}




/* ---------- CARTE PRODUIT ---------- */
.productCard {
    -fx-background-color: rgba(255,255,255,0.9);
    -fx-background-radius: 22;
    -fx-padding: 14;
    -fx-spacing: 10;

    -fx-spacing: 10;        /* <-- ancien spacing="10" */
    -fx-alignment: center; /* <-- ancien alignment="CENTER" */

    -fx-min-width: 260;
    -fx-max-width: 260;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.12), 14, 0, 0, 6);
}

.productName {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.productPrice {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #3bb54a; /* vert prix */
}

.addBtn {
    -fx-background-color: #3bb54a;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 16;
    -fx-padding: 8 14;
    -fx-cursor: hand;
}

.addBtn:hover {
    -fx-background-color: #33a041;
}


.cartBtn {
    -fx-background-color: #e46725;
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;

    -fx-padding: 16 60;
    -fx-background-radius: 40;
    -fx-cursor: hand;
    -fx-translate-x: 70;
}

.cartBtn:hover {
    -fx-background-color: #d85e1f;
}

.totalText {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

